body{
    cursor: pointer;
    overflow-x: hidden;
}

h2{
    color: #ffff;
    font-size: 60px;

}

p{
    color: rgb(109, 100, 100);
    font-size: 13px;
    margin-bottom: 50px;
}

.email{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    display: flex;
}


.Container{
    position: relative;
    left: 90px;
    top: 50px;
}

button{
    background-color: goldenrod;
    border-radius: 10px;
    position: relative;
    left: 17.3vw;
    bottom: 4.7vh;
    height: 30px;
}

.LetsTalk{
     color: black;
}

.Man{
    width: 350px;
    height: 350px;
    position: relative;
    left: 60vw;
    top: -50vh;
    border-radius: 30px;
    
}

.Vector3{
    width: 230px;
    position: relative;
    left: 43vw;
    top: -50vh;
    color: yellow;
}

