#attorney-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#mini-container1{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#text-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 25%;
}

#text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 143.02%;
    
    
}

#text-icon{
    position: relative;
    left:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-icon #icon1{
    border: 2.2px solid #000000;
    border-radius: 100px;
    background: #E6E6E6;
    width: 8vw;
    height: 200%;
    margin-right: 30%;
}

#text-icon #icon2{
    background: #E3B748;
    border: 2.2px solid #000000;
    border-radius: 100px;
    width: 8vw;
    height: 100%;
}

#card-container1{
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 4%;
}

#mini-card1{
    background: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    padding-left: 2%;
}

#mini-card1 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

#mini-card h5{
    line-height:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

#mini-card1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 162.52%;
    color: #FFFFFF;
    opacity: 0.3;
}

#mini-card2{
    background: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    padding-left: 2%;
}

#mini-card2 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

#mini-card2 h5{
    line-height:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

#mini-card2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 162.52%;
    color: #FFFFFF;
    opacity: 0.3;
}

#mini-card3{
    background: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    padding-left: 2%;
}

#mini-card3 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
#mini-card3 h5{
    line-height:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

#mini-card3 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 162.52%;
    color: #FFFFFF;
    opacity: 0.3;
}




