#attorney-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#mini-container1{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#text-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 25%;
}

#text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 143.02%;
    
    
}

#text-icon{
    position: relative;
    left:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-icon #icon1{
    border: 2.2px solid #000000;
    border-radius: 100px;
    background: #E6E6E6;
    width: 8vw;
    height: 200%;
    margin-right: 30%;
}

#text-icon #icon2{
    background: #E3B748;
    border: 2.2px solid #000000;
    border-radius: 100px;
    width: 8vw;
    height: 100%;
}

#card-container1{
    flex: 0.7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#mini-card1{
    
}

