body{
    cursor: pointer;
    
}

.Navlinks{
    display: flex;
    margin-top: -2%;
}

li {
   list-style-type: none;
   position: relative;
   left: 40vw;
   font-size: 15px;
   margin-left: 20px;
 
}

.Contact{
    position: relative;
    left: 80vw;
    margin-top: -2%;
    border: 2px solid white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
  color: #FFFF;
}

img{
    margin-top: 3%;
}

.NavImage{
    margin-left: 10%;
}